/* Контейнер для формы с полями ввода и таблицы */
.form-container {
  display: flex;
  justify-content: center; /* Центрируем содержимое */
  align-items: flex-start;
  gap: 100px; /* Пространство между блоками ввода и таблицей */
  width: 100%;
  /* max-width: 2000px; Ограничиваем максимальную ширину */
  margin-left: 5%;
}

/* Стили для блока с полями ввода */
.inputs-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Выровняем поля по левому краю */
  width: 100%;
  max-width: 400px; /* Делаем контейнер фиксированной ширины */
}

/* Стили для полей ввода */
.input-group {
  display: flex;
  align-items: center; /* Выравниваем элементы по вертикали */
  justify-content: space-between; /* Размещаем элементы с отступами */
  width: 100%;
  margin-bottom: 10px; /* Отступ между строками */
}

.input-group input[type="number"] {
  -webkit-appearance: none; /* Для Chrome, Safari, Edge */
  -moz-appearance: none; /* Для Firefox */
  appearance: none; /* Для всех современных браузеров */
  padding-right: 20px; /* Убираем пространство для стрелок */
}

/* Для браузеров, которые по-прежнему показывают стрелки (например, Safari) */
.input-group input[type="number"]::-webkit-outer-spin-button,
.input-group input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-group label {
  font-weight: bold;
  margin-right: 10px; /* Добавляем отступ между названием и полем ввода */
  white-space: nowrap; /* Запрещаем перенос текста */
  width: 45%;
}

.input-group input {
  flex-grow: 1; /* Растягиваем поле ввода на всю доступную ширину */
  height: 30px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}

/* Стили для кнопки */
button {
  width: 100%;
  height: 45px;
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

/* Блок для таблицы */
.table-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 500px; /* Ширина таблицы */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

h1 {
  text-align: center;
}

body {
  overflow-x: hidden;
}
